/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/*CSS variables*/
:root {
    --primary-font: Inter, sans-serif;
    --secondary-font: Macondo, cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/*Global styles*/
body {
    font-family: var(--primary-font);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);

}

h1, h2 {
        text-transform:uppercase;

}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color:var(--highlight-color);
}

.section {
    margin-top:2rem;
    margin-bottom: 2rem;
}

#services .card, #new-games .card, #fav-games .card {
    margin-bottom: 1.5rem;
}

/*Navbar CSS*/
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width:30px;
}

/*Header styles*/
#header .lead{
    font-family:var(--secondary-font);
}

/*Services styles*/
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}



/*New games and fav games styles*/
    
#new-games .card, #fav-games .card {
    border:none;
}

/*testing
.container, .row {
    border: 2px solid black;
}

.col-12 {
    border:2px solid white;
    background-color: lightgrey;
}*/

/*Media queries*/

/*My initial media query targeting card-text
@media  and (min-width:768px) {
    

#services .card-text {
    min-height: 120px;
}
}*/

/*Min medium screens*/
@media screen and (min-width:768px) {
    #services .card-body {
        min-height:191px;
    }
    
}
/*At 992px the text on the cards are the same length but there is too much space with the height of the card-body, this fixes that*/
@media screen and (min-width:992px) {
    #services .card-body {
        min-height:auto;
    }
    
}
/*Min xl screens*/
@media screen and (min-width:1200px) {
    #services .card-body {
        min-height:218px;
    }
    
}
/*Min xxl screens*/
@media screen and (min-width:1400px) {
    #services .card-body {
        min-height:190px;
    }
    
}